@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --transition: all 0.2s ease;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-bg: #e2e2e2;
}

ul {
  padding-left: 0rem !important;

}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 78px;
  height: 100%;
  background: #414141;
  padding: 8px 16px;
  transition: var(--transition);
}

.sidebar.expand {
  width: 250px;
  transition: var(--transition);
}

.nav-header {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 10%;
  padding-left: 10%;
}

.logo {
  color: var(--color-black);
  font-size: 23px;
  padding-top: 2%;
  font-weight: 600;
  opacity: 0;
  display: none;
  transition: var(--transition);

}

.sidebar.expand .logo {
  opacity: 1;
  transition: var(--transition);
}

.nav-header .btn-menu {
  position: absolute;
  color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
  margin-right: 10px;
}

.sidebar.expand .nav-header .btn-menu {
  margin-right: 0;
}

.nav-links {
  margin-top: 10px;
  height: 100%;
}

.nav-links li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.nav-links i {
  background: #414141;
  color: white;
  height: 50px;
  min-width: 50px;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
}

.nav-links ul {
  padding-left: 0rem;
}


.nav-links box-icon {
  background: #414141;
  color: white;
  height: 50px;
  min-width: 50px;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
}

/* .nav-links input {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-black);
  outline: none;
  height: 40px;
  width: 50%;
  border: none;
  border-radius: 12px;
  background: var(--color-bg);
  padding: 0;
} */


.nav-links li:last-child {

  position: absolute;
  bottom: 10%;
}

.nav-links li a {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: #414141;
}

.nav-links li:hover a {

  background: #414141;

}

.nav-links li:hover i {
  margin-bottom: 5%;
  color: #FFD300;
}

.sidebar.expand .nav-links li:hover .title {
  margin-bottom: 5%;
  color: #FFD300;
  border-radius: 5px;
  border-right: 3px solid #FFD300;
}

.nav-links li a .title {
  color: var(--color-black);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  display: none;
  transition: var(--transition);
}

.sidebar.expand .nav-links li:last-child {
  visibility: hidden;

  position: absolute;
  bottom: 10%;


}

.sidebar.expand .nav-links li a .title {
  width: 100%;
  display: block;
  transition: var(--transition);
  color: white;
}


.nav-links li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #414141;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  color: white;
  font-size: 15px;
  white-space: nowrap;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: var(--transition);
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.expand .tooltip {
  display: none;
}


.sidebar .log_out {
  visibility: hidden;

}

.home {
  background-color: #414141;
  /* border: 5px solid aqua; */
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  min-height: 100vh;
  /* background: var(--color-bg); */
  z-index: 6;
  transition: var(--transition);
}

.sidebar.expand~.home {
  left: 250px;
  width: calc(100% - 250px);
  transition: var(--transition);
}

.home img {
  color: var(--color-black);
  display: inline-block;
}

.home p {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  margin: 20px;
  white-space: nowrap;
}



.sidebar.expand .log_out {
  background-color: #FFD300;
  visibility: visible;
  bottom: 2%;
  text-align: center;
  color: black;
  font-size: 1em;
  cursor: pointer;

  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  margin-left: 2%;
  border: none;
  border-radius: 7px;

}

.sidebar.expand .log_out:hover {
  background-color: yellow;
}

.ellipse {
  position: absolute;
  left: 0%;
  height: 100%;
}

.i-text {
  position: absolute;
  top: 27%;
  left: 2%;
  font-size: 25px;
  font-weight: 700;
}

.header {
  position: absolute;
  background-color: #414141;
  height: 20%;
  width: 100%;
}



.home #table {
  margin-top: 12%;
  margin-left: 5%;
  height:min-content;
  width: 90%;
  padding-bottom: 10px;
}

h4 {
  position: absolute;
  bottom: 22px;

  right: 70%;
  color: #FFD300;
  font-size: 20px;

}

.add-req {
  position: absolute;
  right: 5%;
  background-color: #FFD300;
  text-align: center;
  color: black;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  /* margin-left: 70vw; */
  bottom: 20px;
}

.add-reqt:hover {
  background-color: brown;
}

#triptype {
  position: absolute;
  bottom: 20px;
  border: 2px solid #FFD300;
  right: 55%;
  padding: 5px;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 7px;
  color: #FFD300;
  background: #414141;
}

#status {
  position: absolute;
  bottom: 20px;
  border: 2px solid #FFD300;
  right: 40%;
  padding: 5px;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 7px;
  color: #FFD300;
  background: #414141;
}


#date {
  position: absolute;
  bottom: 20px;
  border: 2px solid #FFD300;
  right: 21%;
  padding: 5px;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 7px;
  color: #FFD300;
  background: #414141;
}

.logo2 {
  width: 50px;
  height: 50px;
}

.hidden {
  display: none;
}

.unhide {
  display: flex;
}

#table {
  display: inline-block;
  background-color: gray;
  float: none;
}



/* .horizontal-scrollable>.row>.col-xs-4 {
  display: inline-block;
  float: none;
} */



#thead {
  color: #FFD300;
  background-color: #414141;

  margin-top: 15px;
  margin-bottom: 15px;
  height: 45px;
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 1%;
  padding-right: 1%;
  line-height: center;
}

#action i {
  border: 5px solid #FFD300;
  border-radius: 50%;
  background-color: #FFD300;
  margin-top: 15px;
  height: min-content;
}

.type,
.time,
.atime {
  font-size: small;
  color: rgb(73, 73, 73);
}

#trip_no,
#from,
#to {
  display: inline-block;
  text-align: center;
}

#tbody {
  color: black;
  background-color: white;
  /* border: 2px solid white; */
  margin-top: 13px;
  /* margin-bottom: 15px; */
  height: 50px;
  margin-left: 2%;
  margin-right: 1%;
  padding-left: 1%;
  padding-right: 1%;
  line-height: center;
}

/* #itable {
  height: 29em;
} */

#thead,
#tbody {
  max-width: 150em;
  min-width: 50em;
}

#table .col,
.col-2,
.col-3 {
  display: flex;
  justify-content: center;
}

/* .pagination,
.jsgrid .jsgrid-pager {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem
}

.page-link {
  color: black
}

.pagination.pagination-rounded-flat .page-item {
  margin: 0 .25rem
}

.pagination .page-item.active .page-link,
a {
  background: #FFD300;
  border-color: #141414
}

.pagination.pagination-rounded-flat .page-item .page-link,
a {
  border: none;
  border-radius: 50px;
} */